*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F8F8F8;
}
.h-line{
    width: 92%;
    margin: 0 auto;
}
header{
    position: relative;
    height: 40px;
    background-color: #91D4DA;
    color: #fff;
    font: bold 12px/40px '黑体';
}

header a{
    position: absolute;
    left: 7px;
    text-decoration: none;
    color: #fff;
}

header h3{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

